classes/prudatabase.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" database="temperatura" doc:name="MySQL Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="api.thingspeak.com" port="80" basePath="channels/9/feed.json" doc:name="HTTP Request Configuration"/>
    <spring:beans>
        <spring:bean id="transformador" name="Bean" class="eventos.Transformador"/>
    </spring:beans>
    <flow name="prudatabaseFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="30000"/>
            <http:request config-ref="HTTP_Request_Configuration" path="/" method="GET" doc:name="HTTP"/>
        </poll>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <json:json-to-object-transformer doc:name="JSON to Object"/>
        <auto-transformer returnClass="eventos.EventoHogar" name="JsonDataToEventoHogar"></auto-transformer>
        <scatter-gather doc:name="Scatter-Gather">
            <db:insert config-ref="MySQL_Configuration" doc:name="Database">
                <db:parameterized-query><![CDATA[INSERT INTO temp(id, temperatura)
VALUES(null,#[payload.temperaturaExt])]]></db:parameterized-query>
            </db:insert>
            <choice doc:name="Choice">
                <when expression="#[payload.temperaturaExt &gt; 104]">
                    <smtps:outbound-endpoint host="${mail.host}" user="${mail.username}" password="${mail.password}" to="${mail.to}" from="${mail.from}" subject="[SD] Alerta por altas temperaturas" responseTimeout="10000" doc:name="SMTP"/>
                </when>
                <otherwise>
                    <echo-component doc:name="Echo"/>
                </otherwise>
            </choice>
        </scatter-gather>
    </flow>
</mule>
